body {
    background-color: rgb(245, 245, 245);
}

thead {
    color: white;
}

table {
    border-collapse: collapse;
    font-family: Arial;
}

thead th:first-child {
    border-top-left-radius: 10px;
    
}

thead th:last-child {
    border-top-right-radius: 10px;
}

tfoot td:last-child {
    border-bottom-right-radius: 10px;

}
tfoot td:first-child {
    border-bottom-left-radius: 10px;

}
 

#qw {
    background-color: rgb(120, 135, 171);
}

#as {
    background-color: rgb(79, 98, 142);

}

#fg {
    background-color: rgb(46, 65, 114);

}

#gh {
    background-color: rgb(22, 41, 85);

}

#hj {
    background-color: rgb(6, 21, 57);

}

table td,
th {
    padding: 10px;
}

tbody {
    background-color: rgb(236, 236, 236);
    text-align: center;
}

tbody tr:nth-child(odd) td:nth-child(odd) {
    background-color: rgb(219, 219, 219);
    
}

tbody tr:nth-child( even) td:nth-child( even) {
    background-color: rgb(243,243,243);
}

tbody tr:nth-child(2n+1) td:nth-child(2n) {
    background-color: rgb(231,231,231);
}

tbody tr:nth-child(-n+6) td:nth-child(1) {
    text-align: left;
}
    tfoot td:nth-child(odd)  {
        background-color: rgb(156, 150, 150);
    }

.qw {
    font-size: 30px;
    margin-block-end: -15px;

}
button:hover{
    background-color: dimgrey;
}