body{
    background: #f5f5f5;
  }
  
   
h2 {color:#483d8b; font-size: 25px; text-align: center; font-family: Arial;
}
#ACT {color: #768898; font-family: Arial; font-weight: 600;
}
#PROLOGUE {color: #768898; font-family: Arial; font-weight: 600;
}
#rt {line-height: 8px;
}
.wt {font-family: Arial;
}
#ver {color: #768898; font-family: Arial; font-weight: 600;
}
#qw {font-size: 12px; font-style: italic;

}
#yu {color: #768898; font-family: Arial; font-weight: 600;

}
#ds {font-family: Arial;

}
#as {color: #768898; font-family: Arial; font-weight: 600;

}
#jk {font-family: Arial;

}